.footer-main {
    position: relative;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
    padding: 50px 0;
    background: #fff;
}
@media only screen and (max-width: 575px) {
    .footer-main {
        padding: 30px;
    }
}
@media (max-width: 991px) {
    .footer-main {
        padding: 50px 0;
    }
}
.footer-main .footer-link {
    margin: 30px 0;
}
.footer-main .link-widget {
    overflow: hidden;
}
.footer-main .copyright {
    margin-top: 20px;
}
@media (max-width: 767px) {
    .footer-main .copyright {
        margin-top: 30px;
    }
}
.footer-main .copyright p {
    color: #909090;
}
@media (max-width: 767px) {
    .footer-main .copyright p {
        font-size: 14px;
    }
}
.footer-main .copyright p a {
    color: #909090;
}